.btn {
    position: relative;
    border: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Muli';
    font-size: 14px;
    line-height: 14px;
    background-color: #294d5c;
    cursor: pointer;
    transition: all 0.15s;
}

.btn:hover {
    outline: none;
    background-color: #5f9db8;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
    /* box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff; */
}

.btn:active {
    transform: scale(0.95);
}

.btn+.btn {
    margin-left: 8px;
}

.main-color {
    background: #2c5364;
}

.gradient-custom {
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}


/* COUNT BUTTON */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 1px;

    font: 20px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #284c5b !important;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 1px;

    font: 20px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #284c5b !important;
}

.minus:hover {
    background-color: #4166af !important;
}

.plus:hover {
    background-color: #4166af !important;
}

/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quantityResult {
    font-size: 17px;
    font-weight: 600;
}

/* //COUNT BUTTON */